nav{
    
    background: purple;
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    
    

}

.ee{
  margin-left: 60%;
  display: inline-block;
}
.rr{
    display: inline-block;
    margin-left: 20px;
    font-size: 100%;
    cursor: pointer;
}
h2{
    display: inline-block;
    color: aliceblue;
    margin-left: 20px;
}

h2:hover{
    color: black;
}
li:hover{
    color: rgb(255, 246, 246);
}
.search{
    text-align: center ;
    margin-top: 20px;
    background: rgb(238, 5, 238);
    display: inline-block; 
    margin-left: 1%;
    width: 400px;
    height: 35px;
    color: aliceblue;
    border-radius: 20px;
}
input{
    width: 300px;
    height: 30px;
    border: none ;
    outline: none ;
    background: transparent;
    color: #ffffff;
    display: inline-block;

 
}
h4{
    display: inline-block;
    margin-left : 20px;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    display: inline-block;
    width: 200px;
    height: 40px;
    background: #ec66e1;
    border-radius: 20px;
    margin-left: 500px;
}

table{
    width: 100%;
    margin-left: 30% auto;
  
}
td{
    text-align: center;
    width: 20px;
    height: 20px;
    padding: auto;
}
th{
    background: purple;
    color: white;
}

.water{
    width: 100%;
    height: 10
    0px;
    margin-top: 250px;
    background-color: #ec66e1;
}
h5{
    padding: 20px;
}